<header class="header">
  <div class="container">LOGO</div>
  <div class="container">
    <h1>Angular 17 + Tailwind CSS</h1>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </nav>
  </div>
</header>
<main class="main">
  <div class="container">
    <h1>LISTA DE ITEMS</h1>
    <app-item-list></app-item-list>
  </div>
  <div class="container">
    <h1>CARRITO DE COMPRAS</h1>
  </div>
</main>
<footer class="footer">FOOTER</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
